{% extends 'base.html' %}
{% block titulo %}Mis bonsáis: {{usuario.first_name}} {{usuario.last_name}}{% endblock %}
{% block estilo_particular %}
	<link href="{{ STATIC_URL }}css/bonsais_style.css" rel="stylesheet" /> 
{% endblock %}
{% block menu_chico %}
{% block menu %}
	<div class='item_menu'>
		<a href="bonsai/nuevo/">Agregar bonsái</a>
	</div>
	<!--<div class='item_menu'>
		<a href="">Fichas de bonsáis</a>
	</div>-->
{% endblock %}
{% endblock %}
	<!--<div class='item_menu'>
		<a href="bonsai/nuevo/">Agregar bonsái</a>
	</div>-->


{% block contenido %}
	<script type="text/javascript">
		function getText( obj ) {
		    return obj.textContent ? obj.textContent : obj.innerText;
		}
		//filtra los bonsais que se están viendo
		function filtrar() {
			//keycode = (evt.keyCode==0) ? evt.which : evt.keyCode;
			text = document.getElementById("input_buscar").value; //obj.value + String.fromCharCode(keycode); 
			bonsais = $('.bonsai');	
			i = 0;
			var bonsai;
			while(bonsai = bonsais[i++]){									  
				var div_bonsai_id = bonsai.children[0];
				
				div_bonsai_id = document.getElementById(div_bonsai_id.id);
				//obtengo el "common_name"
				common_name = getText(div_bonsai_id.childNodes[1]).toLowerCase();
				//verifico si tiene byname
				//if(getText(div_bonsai_id.childNodes[3]))
				byname = getText(div_bonsai_id.childNodes[3]);
				if((byname != undefined && 
					byname.toLowerCase().contains(text)) || 
					common_name.contains(text)){
					//lo muestro
					document.getElementById(div_bonsai_id.id).style.display ='inline-block';
				}else{
					//lo oculto
					document.getElementById(div_bonsai_id.id).style.display ='none';
				}
			};
		}
	</script>
	<section id="contenido">	
		<div id="titulo">
			<b>Mis Bonsáis</b>
		</div>
		<div id="buscar">		
			Filtrar por nombre o apodo: <input id="input_buscar" autofocus onkeyup="filtrar()">
			<script>document.getElementById("input_buscar").value = "";</script>
		</div>					
		{% for bonsai in datos %}	
			<a href="/bonsai/{{bonsai.id}}">
				<section class="bonsai">					
					<div id="{{bonsai.id}}">
						<article class="common_name">
							{{bonsai.common_name}}
						</article>
						{% if bonsai.byname %}
							<article class="byname">
								{{bonsai.byname}}
							</article>	
						{% else %}
			             	<br>
			           	{% endif %}					

						{% if bonsai.imagePath %}
			           		<img src="{{bonsai.imagePath}}" class="foto">
			           	{% else %}
			             	<img src="{{STATIC_URL}}no-imagen.jpg" class="foto">
			           	{% endif %}
		           	</div>		
				</section>				
			</a>
			{% if forloop.counter|divisibleby:5 %}
				<article class="publicidad">
					publicidad
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-7772189878652683";
					/* mis bonsais- anuncio pag bonsais */
					google_ad_slot = "6546162412";
					google_ad_width = 180;
					google_ad_height = 150;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</article>
			{% endif %}
		{% empty %}
			<div id="empty">
				<br>
				<br>
				<h3>Bienvenido a su espacio.</h3><br>
				<h4>Para agregar su primer Bonsái presione el botón "Agregar bonsái" en la parte superior derecha de la página.</h4>
			</div>
		{% endfor %}	
		<br>
		<br>		
		<br>
	</section>	
{% endblock %}